body{    
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  
  .navbar-brand{
      font-size: 35px;
  }
  
  #form {
    background-color: #f0f5ff; /* Light blue background */
    width: 28%;
    border-radius: 6px;
    margin: 120px auto;
    padding: 40px;
    box-shadow: 10px 10px 5px #4e7ad2; /* Darker blue shadow */
    margin-top: 25px;
}

h1 {
    text-align: center;
    color: #4e7ad2; /* Dark blue text */
}

input {
    width: 90%;
    border-radius: 4px;
    border: 3px solid #dfe6f1; /* Lighter blue border */
    padding: 5px;
}

#btn {
    width: 100%;
    color: #ffffff;
    background-color: #4e7ad2; /* Dark blue button */
    padding: 10px;
    font-weight: 700;
    font-size: larger;
    border-radius: 10px;
}

form label {
    color: #4e7ad2; /* Dark blue label */
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 1350px) {
    #form {
        width: 40%;
        margin-left: none;
        padding: 40px;
    }
}

@media screen and (max-width: 1100px) {
    #form {
        width: 50%;
        margin-left: none;
        padding: 40px;
    }
}

@media screen and (max-width: 700px) {
    #form {
        width: 80%;
        margin-left: none;
        padding: 40px;
    }
}


    .card {
      width: 100%;
  }
  
  .card-img-top {
      height: 200px; /* Set a fixed height for the images */
      object-fit: cover; /* Ensure the image covers the entire space */
  }
  
  .card-body {
      height: 100%; /* Ensure the card body takes up the entire height */
      display: flex;
      flex-direction: column;
  }
  
  .card-title {
      flex-grow: 1; /* Allow the title to take up remaining space */
  }
  
  .card-text {
      margin-bottom: auto; /* Push the text to the top */
  }
    
  .small-image {
    max-width: 400px; /* Adjust the max-width as per your requirement */
    height: auto;
}

.zoom-img {
  transition: transform 0.5s ease;
}
.zoom-img:hover {
  transform: scale(1.1);
}